body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-top: 100px;
    padding: 40px;
    gap: 5px;
    width: 295px;
    background-color: grey;
    border-radius: 6px;
}


button {
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 3px;
}

.clear {
    width: 145px;
    height: 70px;
}

.operator {
    background-color: orange;
}

.display {
    width: 97%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 1px black solid ;
    border-radius: 5px;
    font-size: 32px;
    font-weight: lighter;
    padding-right: 5px;
}

